.about-us{
  overflow: hidden;
}
.about_content p {
  font-size: 1.2rem;
}
.heading_title h5 {
  font-size: 1.375rem;
  color: black;
}
/* HISTORY */
.about-history {
  background-image: url(../img/banner2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.history-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.history-content {
  max-width: 640px;
}
.about-history .heading_title h2 {
  color: white;
}
.about-history p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}
.history-content .row h5 {
  font-size: 1.375rem;
  color: white;
}
/* CHOOSE US */
.about-chooseUs{
  overflow: hidden;
}
.chooseUs-img img{
  border-radius: 10px;
}
.chooseUs-item{
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}
.chooseUs-icon{
  font-size: 2.75rem;
  color: #189a46;
}
.chooseUs-title h4 a{
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  transition: all .5s;
}
.chooseUs-title h4 a:hover{
  color: #189a46;
}
.chooseUs-title p{
  font-size: 1.2rem;
}
/* RESPONSIVE */
