/* Light theme */
#myBody {
    background-color: white;
    color: #696969;
  }
  #switchButton {
    background-color: white;
    font-size: 25px;
  }
  #switchButton:focus{
    border: none;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody {
    background-color: black;
    color: #bbbbbb;
  }
  .dark #switchButton {
    background-color: black;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: #bbbbbb;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: black;
    color: #bbbbbb;
  }
  .dark .btnRead{
    color: #ddd;
    font-weight: 600;
  }
  .dark h2{
    color: #bbbbbb;
  }
  /* HEADER */
  .nav-link{
    color: black;
  }
  .dark .nav-link{
    background-color: black;
    color: #bbbbbb;
  }
  .dark .nav-item .header_search {
    background-color: #222222;
  }
  .dark .dropdown-menu .dropdown-item{
    color: #dcdcdc;
  }
  .dark .dropdown-menu {
    background-color: black;
    border: 1px solid #333;
  }
  .dark .dropdown-menu::before{
    background-color: black;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}
.dark header{
  background-color: black;
}
/* LIST */
.dark .list{
  background-color: #222 !important;
}
.dark .list_item{
  background-color: #151515;
}
/* .dark .list_item:hover{
  background-color: #222;
} */
.dark .list_item a{
  color: #bbbbbb;
}
/* CHOOSE */
.dark .choose_content ul li p{
  color: #ddd;
}
.dark .choose_content ul li i {
  background-color: #222;
}
/* OUR PLANT */
.dark .plant{
  background-color: #222;
}
.dark .plant_item{
  background-color: black;
}