.gallery-img img{
  border-radius: 20px;
}
.lb-data .lb-caption{
  font-size: 1rem;
  color: white;
  letter-spacing: .5px;
  margin: 1.5rem 0;
  display: inline-block;
}
.lb-data .lb-number{
  font-size: 1rem;
  color: #f53626;
}
.gallery-img{
  position: relative;
  overflow: hidden;
}
.gallery-img::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.gallery-img:hover::before {
  left: 125%;
  transition: all 0.75s;
}